go 1.22

use (
	./
	./testing/integration/api/hello
	./testing/integration/api/todo
	./testing/integration/html/hello
	./testing/integration/html/multihosthello
	./testing/integration/html/multiroothello
)

replace github.com/mortedecai/resweave v0.0.0-test => ./
